/* Foto.css */
.foto-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 110px); /* Subtract the navbar's height */
  overflow: hidden; /* Prevent scrolling */
}

.foto-categories {
  flex: 0 0 200px; /* Fixed width for the sidebar */
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  justify-content: space-between; /* Puts space between categories and icons */
  padding: 20px;
  /* background-color: #efefef; Sidebar background color */
  height: 100vh; /* Full height of the viewport */
  box-sizing: border-box; /* Makes sure padding is included in the height */
  overflow: hidden; /* Prevent scrolling */

}

.foto-categories a {
  display: block;
  padding: 10px;
  margin-bottom: 5px; /* Space between links */
  text-decoration: none;
  color: #333;
  font-size: large;
  font-family: 'Playfair Display', serif;
}

.foto-categories a:hover {
  color: #ddd; /* Lighter color on hover */
}

.social-icons {
    display: flex;
    flex-direction: row; /* Align icons horizontally */
    justify-content: center; /* Center the icons horizontally */
    /* align-items: center; /* Align icons vertically */
    /* margin-top: 20px; Add a top margin if needed */
    padding-bottom: 80%; /* Add padding to the bottom  */
    align-items: flex-end; /* Align icons at the bottom */
    height: 100%; /* Take up remaining height */
}

.social-icons a {
  margin: 0 10px; /* Horizontal spacing between icons */
}

.social-icons img {
    opacity: 85%;
    width: 30px; /* Adjust icon size */
    height: 33px; /* Adjust icon size to maintain aspect ratio */
    margin: 2px -30px; /* Spacing between icons */
}

.foto-gallery {
  flex: 1; /* Gallery takes up the remaining space */
  overflow-y: auto; /* Allows for scrolling within the gallery if necessary */
  
}
