RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^phaminh\.com$ [NC]
RewriteRule ^ https://www.phaminh.com%{REQUEST_URI} [R=301,L]

RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
