/* Contact.css - Adjust the classes specifically for the contact page footer */


.flex {
  display: flex;
}

.justify-center {
  justify-content: center; /* This will center the flex items */
}

.items-center {
  align-items: center; /* This will align items vertically */
}

.py-4 {
  padding-top: 1rem; /* 16px */
  padding-bottom: 1rem; /* 16px */
}

.mt-12 {
  margin-top: 1rem; /* 48px */
}

.border-r-2 {
  border-right: 2px solid #ccc; /* Add your color */
}

.h-6 {
  height: 1.5rem; /* 24px */
}

.text-gray-700 {
  color: #4a5568; /* This is a TailwindCSS class color */
}

.text-3xl.font-bold.text-center.mb-4 {
  font-family: 'Metal', serif;
  letter-spacing: 4px;
  font-weight: 300;
  font-size: 47px;
}

/* General styling for all h1 elements, you can add this in your global CSS file */
p {
  font-family: 'Metal', serif;
  letter-spacing: 1.2px;
}

.text-lg.text-center.mb-12 {
  font-size: 17px;
  text-transform: uppercase;
}

.contact-footer.flex.justify-between.items-center.border-t-2.py-4.mt-12 {
  font-family:'Courier New', Courier, monospace;
  padding-bottom: 42px;
}
/* If you find that your NavBar is affected after including this CSS, 
it could be due to class name conflicts. Make sure that your NavBar 
does not use these same class names without intending to apply these styles. */

.contact-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.contact-footer span {
  /* Adjust margin around phone number and email to bring them closer to the center line */
  margin: 0 11rem; /* Reduce the 8px value to bring items closer */
}

.contact-footer .border-r-2 {
  height: 1.5rem;
  border-right: 2px solid #ccc;
  margin: 0 8px; /* Adjust this value as well */
}

/* Adjust the banner image for medium screens, e.g., tablets */
@media (max-width: 768px) {
  .banner-image {
    background-position: center calc(60% - offsetY * 1.05); /* Adjust as needed */
  }
}

/* Adjust the banner image for small screens, e.g., phones */
@media (max-width: 480px) {
  .banner-image {
    background-position: center calc(40% - offsetY * 1.05); /* Adjust as needed */
  }
}