@import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');

/* General Styles for the Testimonials Section */
.testimonial-section {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: 'Farsan', cursive; /* Applying the Farsan font globally to the section */
}

/* Styles for each testimonial item */
.testimonial-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-right: 90px; /* Adjust this value as needed */
  gap: 3px !important;  /* Space between the image and text */
}

/* Styles for the testimonial images */
.testimonial-item img {
  width: 360px; /* Adjust this value to set a fixed width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 3px; /* Optional: rounds the corners of the image */
  margin-left: 20px; /* Add space between text and image */

}

/* Modifier class to reverse the order */
.testimonial-item-reverse {
  flex-direction: row-reverse;
}

/* Styling for the text */
.testimonial-item p {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 1px;
  margin-left: 20px; /* Add space between text and image */
  flex: 1; /* Allows text block to fill the remaining space */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-size: 22px;
}

/* Fullscreen Image Styles */
.full-screen-image-container {
  width: 100%;
  margin-bottom: 40px;
}

.full-screen-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .testimonial-item {
    flex-direction: column; /* Stack image and text on small screens */
    margin-left: 0; /* Reset margin on small screens */
  }

  .testimonial-item img {
    width: 100%; /* Full width images on small screens */
    max-width: 300px; /* Limiting the maximum width */
    margin-bottom: 20px; /* Add space below the image */
    
  }

  .testimonial-item p {
    text-align: center;
    margin: 0; /* Reset margins on small screens */
  }
}

/* Additional media query for larger screens to adjust layout */
@media (min-width: 1024px) {
  .testimonial-item {
    justify-content: space-between; /* Add space between image and text on larger screens */
  }

  .testimonial-item p {
    max-width: 600px; /* Limit the maximum width of the text block */
  }
}
