.testimonial-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Space between items */
}
  
.testimonial-image {
  width: 150px !important;
  height: 150px !important;
}


  
.testimonial-text {
    font-size: 1rem; /* Adjust as needed */
}
/* FullScreenImage.css */
.full-screen-image-container {
    width: 100%;
    display: flex; /* This ensures that the container is flex-box */
    justify-content: center; /* This centers the image horizontally */
    align-items: center; /* This centers the image vertically */
    overflow: hidden; /* This prevents scrollbars if the image is too big */
}
  
.full-screen-image {
    max-width: 100%; /* This ensures the image is not wider than the screen */
    height: auto; /* This maintains the aspect ratio of the image */
}
/* General Styles for the Testimonials Section */
.testimonial-section {
    max-width: 1200px; /* Or your desired max width */
    margin: auto; /* Centers the section */
    padding: 20px;
}

/* Grid Styles for the Testimonials */
.testimonial-section .testimonial-item {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Adjust ratios as needed, e.g., 1fr 2fr for a smaller image and larger text area */
    gap: 50px; /* Space between items */
    align-items: center; /* Centers items vertically */
    margin-bottom: 40px; /* Space between testimonial rows */
  }
  

/* Testimonial Image Styles */
.testimonial-section .testimonial-item .testimonial-image {
    width: 20%; /* Adjust this to your desired width, e.g., 50% for half the width */ /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: rounds the corners of the image */
    display: block; /* To prevent inline default space below images */
    margin: 0 auto; /* This will center the image if it's smaller than the full width */
  }

/* Testimonial Text Styles */
.testimonial-section .testimonial-item .testimonial-text {
    font-size: 1rem; /* Adjust the font size as needed */
    line-height: 1.6; /* Adjust the line height for readability */
    color: #333; /* Adjust the text color as needed */
}

/* Fullscreen Image Styles */
.full-screen-image-container {
    width: 100%;
    margin-bottom: 40px; /* Space between the fullscreen image and testimonials */
}

.full-screen-image {
    width: 100%;
    object-fit: cover; /* Ensures the image covers the area without stretching */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .testimonial-section .testimonial-item {
        grid-template-columns: 1fr; /* Stack image and text on small screens */
    }

    .testimonial-section .testimonial-item .testimonial-image {
        max-width: 300px; /* Adjust image size on small screens */
        margin: auto; /* Center the image */
    }

    .testimonial-section .testimonial-item .testimonial-text {
        text-align: center; /* Center the text on small screens */
    }
}
