/* src/components/RecentFilm/RecentFilm.css */
.recent-film-container {
  text-align: center;
  color: white; /* Set the text color to white */
  background-color: black; /* Set the background to black */
  padding: 2rem 0; /* Add some padding */
}

.recent-film-header {
  font-size: 3rem; /* Adjust the font size as needed */
  margin-bottom: 0.5rem; /* Space between the header and the line */
}

.film-line {
  width: 60px; /* Adjust the line width */
  height: 4px; /* Adjust the line thickness */
  background-color: white; /* Line color */
  margin: 0 auto 2rem; /* Center the line and add space below */
}

.film-thumbnails {
  display: flex;
  justify-content: center; /* Center the thumbnails */
  gap: 3rem; /* Adjust the gap between thumbnails */
}

.film-thumbnail {
  position: relative; /* Needed for absolute positioning of the caption */
  width: 300px; /* Adjust the thumbnail width */
}

/* src/components/RecentFilm/RecentFilm.css */
.film-thumbnail {
  position: relative; /* Needed for absolute positioning of the caption */
  width: 250px; /* Adjust the thumbnail width */
  margin-bottom: 1rem; /* Space for the caption */
}

.film-thumbnail img {
  width: 100%;
  border-radius: 1px; /* Rounded corners for the thumbnails */
  margin-bottom: 0.5rem; /* Space between image and caption */
}

.film-caption {
  color: white;
  text-align: center; /* Centers the text */
  /* Remove background-color and padding if caption is below the image */
}

.film-caption h3, .film-caption p {
  margin: 0; /* Removes margin from h3 and p elements */
}

/* Hover effects */
.film-thumbnail:hover img {
  opacity: 0.8; /* Dim the image on hover */
}

.film-thumbnail:hover .film-caption h3,
.film-thumbnail:hover .film-caption p {
  color: grey; /* Change text color on hover */
}
