/* ContactForm.css */

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: 600;
  font-family: 'Metal', serif;
  font-size: 18px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="date"],
.contact-form select,
.contact-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Fixes the issue of padding adding to the width */
}

.contact-form input[type="submit"] {
  background-color: #8b6541;
  color: white;
  border: none;
  cursor: pointer;
  padding: 7px;
  border-radius: 30px; /* This creates the rounded edges */
  font-family: 'Metal', serif;
  font-size: 19px;

}

.contact-form input[type="submit"]:hover {
  background-color: #555555;
  
}

/* Style for dropdown/select input */
.contact-form select {
  -webkit-appearance: none; /* Remove default style on Webkit browsers */
  -moz-appearance: none;    /* Remove default style on Mozilla browsers */
  appearance: none;         /* Remove default style to apply custom styles */
  background: url('/public/assets/images/arrow-icon.svg') no-repeat right;
  background-size: 12px; /* Adjust size of the icon */
  
}

/* Placeholder color */
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #d0cfcf; /* Light text for placeholders */
  font-size: 15px;
  font-style: italic;
}

/* Adjust focus styles */
.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
  outline: none;
  border-bottom-color: #666; /* Darker border for focus */
}

.contact-form .input-group-text {
  background-color: #eee;
  border-right: 2px solid #ccc;
  padding: 10px; /* match the padding of the input */
  margin-bottom: -2px; /* adjust this value if there is a vertical misalignment */
  display: flex;
  align-items: center; /* centers the content vertically */
}

.input-group {
  position: relative;
}

.currency-symbol {
  position: absolute;
  left: 5px; /* Adjust if necessary */
  padding-left: 0.5rem; /* Tailwind's pl-2 class equivalent */
  display: flex;
  align-items: center;
  pointer-events: none;
  top: 14%;
  color: #aaa;
}

.input-group input[type="text"] {
  padding-left: 25px; /* Tailwind's pl-8 class equivalent */
  padding-top: 11.6px;
  /* Add other styling properties as needed */
}





