/* src/components/BadgesContainer/BadgesContainer.css */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.badge-appear {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}
  .badges-container {
    display: flex;
    justify-content: center; /* Aligns badges to the center */
    gap: 2rem; /* Adjust the gap as needed to control the spacing between badges */
    align-items: center;
    margin-top: calc(100vh - 115px);  /* This will push the badges to below the viewport height */
    width: 100%;
    max-width: 1200px; /* Set a max-width to prevent the container from becoming too wide */
    margin-left: auto; /* Centers the container */
    margin-right: auto; /* Centers the container */
    padding: 1rem;
    z-index: 10;
    transition: gap 1.3s ease-out; /* Smooth transition for the gap changes */
}
