/* src/components/BadgesContainer/BadgesContainer.css */
:root {
    --video-height: 500px; /* Adjust to the height of your video element */
  }
  

  .badges-container {
    display: flex;
    justify-content: center; /* Aligns badges to the center */
    gap: 2rem; /* Adjust the gap as needed to control the spacing between badges */
    align-items: center;
    margin-top: calc(100vh - 115px);  /* This will push the badges to below the viewport height */
    width: 100%;
    max-width: 1200px; /* Set a max-width to prevent the container from becoming too wide */
    margin-left: auto; /* Centers the container */
    margin-right: auto; /* Centers the container */
    padding: 1rem;
    z-index: 10; /* Ensure this is above the video z-index */
}
