.testimonial-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Space between items */
  }
  
  .testimonial-image {
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    object-fit: cover;
    margin-right: 20px;
  }
  
  .testimonial-text {
    font-size: 1rem; /* Adjust as needed */
  }
  